/* style.css */
:root {
  --color-background: #081426;
  --color-light-gray: #f0f0f0;
  --color-dark-blue: #112d4e;
  --color-white: white;
  --color-hover: #121a2d;
  --color-nav: #ef6d49;
  --color-font: #f17754;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--color-font);
}

/*Navigation*/
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0;
}
.container-fluid {
  padding: 0.3rem;
  background-color: var(--color-nav);
}

.nav-item {
  font-size: 1rem;
  padding: 0 1rem;
}
.nav-link {
  color: var(--color-light-gray);
  opacity: 0.7;
}
.nav-link:hover {
  color: var(--color-white);
  opacity: 1;
}

/* Main Content*/
.content {
  flex-grow: 1;
  background-color: var(--color-background);
  color: var(--color-secondary);
  padding: 20px;
}

.content h2 {
  color: var(--color-secondary);
}

/* Home Page*/
.intro {
  font-size: 3.5rem;
  max-width: 50rem;
  margin-top: 10rem;
  line-height: 1.6em;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  color: var(--color-font);
}
.introContainer {
  text-align: left;
  width: 100%;
  padding: 5rem;
  margin-left: 15rem;
}

.catch-phrase {
  margin: 1rem 0;
  font-size: 2rem;
  overflow: hidden;
}

section {
  padding-left: 3rem;
  font-size: 1.5rem;
  padding-right: 3rem;
  margin-bottom: 4rem;
  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.btn {
  cursor: pointer;
  padding: 1.2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  word-spacing: 20%;
  background-color: var(--color-nav);
  opacity: 0.9;
  color: var(--color-background);
  font-weight: 600;
}
.btn:hover {
  opacity: 1;
  color: var(--color-nav);
  background-color: var(--color-dark-blue);
  transition: background-color 0.3 ease-out;
}
.home {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.sliders {
  margin: 0;
  font-size: 3rem;
  padding-top: 6rem;
  color: var(--color-font);
}
#under {
  height: 4px;
  margin-top: 4px;
  margin-bottom: 1rem;
  background-color: var(--color-font);
}

/* Active Bar*/

.email-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.diamond {
  width: 4px;
  height: 4px;
  display: hidden;
  background-color: transparent;
  color: var(--color-nav);
  opacity: 0.7;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem;
  margin: 0.25rem 2rem;
  transform: translateY(-120%);
  rotate: -90deg;
  transition: color 0.3s, background-color 0.3s;
}
.diamond:hover {
  color: var(--color-dark-blue);
  opacity: 1;
}
.line1 {
  width: 4.5px;
  margin-top: 5px;
  background-color: var(--color-dark-blue);
  height: 32vh;
}

/* Social Media Handles */
.socialMedia {
  position: fixed;
  bottom: 0; /* Align to the bottom of the page */
  right: 0; /* Align to the right side of the page */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.socialMedia a {
  font-size: 1.75rem;
  padding: 2.5px 10px;
  color: var(--color-nav);
  transition: color 0.3s, background-color 0.3s;
}

.socialMedia a:hover {
  color: var(--color-dark-blue);
}

.line2 {
  width: 4px;
  height: 32vh;
  background-color: var(--color-dark-blue);
}

/* About*/
.about-me {
  font-size: 1.5rem;
  border-left: 8px solid var(--color-background);
  padding: 16px;
  margin: 0;
  color: var(--color-font);
}
.about-me:hover {
  border-left: 8px solid var(--color-nav);
  background-color: var(--color-hover);
}

/* Top Skills*/
.top-skills {
  padding: 20px 16px;
  margin: 0px 5px;
  border-radius: 8px;
  max-width: 80%;
  border: 4px solid var(--color-font);
}
.top-skills h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--color-font);
}
.top-skills .fa {
  font-size: 30px;
  color: var(--color-font);
}

.top-container {
  display: inline;
  line-height: 60px;
}
.top-skill {
  background-color: var(--color-font);
  color: var(--color-background);
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 20px;
}
.top-skill:hover {
  opacity: 0.9;
}

/* Skills*/
.skill-container {
  margin: 2rem;
}
.skill-list {
  list-style-type: none;
  font-size: 1.5rem;
}
.skill {
  border-left: 8px solid var(--color-background);
  padding: 16px;
  margin: 0;
  color: var(--color-font);
}

.skill:hover {
  border-left: 8px solid var(--color-nav);
  background-color: var(--color-hover);
}

/*Projects*/

.project-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.card {
  width: 35rem;
  margin: 2rem;
  background-color: var(--color-hover);
  border: 2px solid var(--color-font);
}
.card-img-top {
  height: 25rem;
  max-width: 34.8rem;
  border: 2px solid var(--color-font);
}

.card-title {
  font-size: 2.5rem;
  color: var(--color-font);
}
.card-text {
  font-size: large;
  margin-bottom: 0;
  color: var(--color-font);
}

.project-skill-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-skill {
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  background-color: var(--color-font);
  color: var(--color-background);
  padding: 6px 10px;
  border-radius: 15px;
  opacity: 0.9;
}

.project-skill:hover {
  opacity: 1;
}
.project-link {
  font-size: 1.5rem;
}
.project-link i {
  color: blue;
  font-size: 1.5rem;
}

.act {
  opacity: 1;
  color: var(--color-white);
}

@media screen and (max-width: 780px) {
  #hidden {
    display: none;
  }
  #introContainer {
    margin: 0;
    padding: 0;
  }
  .content {
    padding: 0;
  }
  .intro {
    font-size: 1.8rem;
    padding-top: 5rem;
    margin-left: 1.5rem;
  }
  .catch-phrase {
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }
  .btn {
    padding: 1rem;
    margin-left: 1.5rem;
  }

  .about-me {
    font-size: 1rem;
  }
  .sliders {
    padding-top: 0;
  }
  section {
    padding: 1rem;
    margin: 0;
  }
  .top-skill {
    font-size: 1rem;
    margin: 0;
    line-height: 20px;
  }

  .skill {
    font-size: 1rem;
    padding: 6px;
  }

  .card-img-top {
    width: auto;
    height: 16rem;
  }

  .project-skill {
    margin: 0;
    font-size: 0.85rem;
    margin: 0.5rem;
  }
  .card-text {
    font-size: 1rem;
  }
  .card-title {
    font-size: 1.75rem;
  }
}
